<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.partyBuilding.activity.mapper.StatisticsMapper">

    <select id="selectMonthlyTaskCompletion" resultType="java.util.Map">
        SELECT
            DATE_FORMAT(commitTime, '%Y-%m') AS month,
            COUNT(*) AS completedCount
        FROM
            userTask
        WHERE
            studentId = #{studentId}
          AND status = 1
          AND commitTime IS NOT NULL
        GROUP BY
            DATE_FORMAT(commitTime, '%Y-%m')
        ORDER BY
            month
    </select>

    <select id="MonthCompleted" resultType="java.util.Map">
        SELECT
        task_month,
        SUM(CASE WHEN status = 'completed' THEN 1 ELSE 0 END) AS completedCount,
        SUM(CASE WHEN status = 'uncompleted' THEN 1 ELSE 0 END) AS uncompletedCount
        FROM (
        SELECT
        ut.studentId,
        DATE_FORMAT(ut.beginTime, '%Y-%m') AS task_month,
        CASE
        WHEN COUNT(ut.status) = SUM(CASE WHEN ut.status = 1 THEN 1 ELSE 0 END)
        THEN 'completed'
        ELSE 'uncompleted'
        END AS status
        FROM userTask ut
        WHERE ut.taskId IN (
        SELECT id FROM task WHERE beginTime >= #{arg0} AND beginTime &lt; #{arg1}
        )
        GROUP BY ut.studentId, DATE_FORMAT(ut.beginTime, '%Y-%m')
        ) AS student_monthly_status
        GROUP BY task_month
        ORDER BY task_month
    </select>

    <select id="selectTaskStatusCountByYearMonth" resultType="java.util.Map">
        SELECT
        SUM(CASE WHEN status = 1 THEN 1 ELSE 0 END) AS completedCount,
        SUM(CASE WHEN status = 0 THEN 1 ELSE 0 END) AS uncompletedCount
        FROM userTask
        <where>
            <if test="year != null">
                YEAR(beginTime) = #{year}
            </if>
            <if test="month != null">
                AND MONTH(beginTime) = #{month}
            </if>
        </where>
    </select>
</mapper>