<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.partyBuilding.activity.mapper.UserTaskMapper">


    <update id="update">
        UPDATE usertask
        <set>
            <if test="studentId != null">studentId = #{studentId},</if>
            <if test="userName != null and userName != ''">userName = #{userName},</if>
            <if test="taskId != 0">taskId = #{taskId},</if>
            <if test="taskName != null and taskName != ''">taskName = #{taskName},</if>
            <if test="beginTime != null">beginTime = #{beginTime},</if>
            <if test="endTime != null">endTime = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="commitTime != null">commitTime = #{commitTime},</if>
            <if test="file != null and file != ''">file = #{file},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getById" resultType="com.partyBuilding.activity.domain.UserTask">
        SELECT userName,studentId,taskName,taskId,file FROM usertask WHERE id = #{id}
    </select>
</mapper>